.text-editor-container .ql-editor {
  box-sizing: border-box;
  height: 200px;
  border: 1px solid #c2d5e2;
  background-color: #ffffff;
  padding: 24px 10px 10px 10px !important;
  margin-top: 14px;
  margin-bottom: 8px;
  border-radius: 4px;
}
.withError-container .ql-editor {
  transition: all 0.3s;
  box-sizing: border-box;
  height: 200px;
  border: 1px solid #D22F27!important;
  background-color: #ffffff;
  padding: 24px 10px 10px 10px !important;
  margin-top: 14px;
  margin-bottom: 8px;
  border-radius: 4px;
}

.description-block-editor{
  text-align: start;
  position: relative;
}

.editor-text-local-error-label{
  position:absolute ;
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: 1.2px;
  color: #141414;
  width: 101%;
}

.text-editor-container .ql-container {
  border: none;
}
.withError-container .ql-container {
  border: none;
}
.text-editor-container .ql-editor p {
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: 1.2px;
  color: #141414;
}
.withError-container .ql-editor p {
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: 1.2px;
  color: #141414;
}

.ql-toolbar {
  display: none !important;
}
.text-editor-container .quill > .ql-container > .ql-editor.ql-blank::before {
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: 1.2px;
  color: #141414;
  margin-left: -5px;
}

.withError-container .quill > .ql-container > .ql-editor.ql-blank::before {
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: 1.2px;
  color: #141414;
  margin-left: -5px;
}